.edit-btn {
  background-color: var(--primary);
  color: white;
}
.add-traveller {
  background-color: var(--primary);
  color: white;
}
.card-body {
  background-color: #f3f7fc80;
}
html {
  scroll-behavior: smooth;
}
.heading {
  color: #a2a1a8;
}
/* .profile-img {
  border: 1px solid black;
  border-radius: 10px;
} */
.profile-container {
  display: flex;
  height: calc(100vh - 100px); /* Adjust this offset to your header height */
  overflow: hidden;
}
.profile-img {
  border-radius: 50%;
  object-fit: cover;
}
.profile-img-initials {
  background-color: #ccc;
  border-radius: 50%;
  font-weight: bold;
  font-size: 20px;
  color: #333;
}
.profile-edit {
  cursor: pointer;
}
.sidebar-fixed {
  width: 250px;
  flex-shrink: 0;
}
.list-group{
    border: 1px solid #A2A1A833;
}
.scrollable-content {
  flex-grow: 1;
  overflow-y: auto;
}
.list-group-item {
  border: none !important; /* Remove borders between items */
  border-radius: 5px !important; /* Optional: square corners */
  background-color: transparent; /* default */
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

.list-group-item img {
  filter: brightness(0) saturate(100%);
  margin-right: 8px;
}

.list-group-item.active-tab {
  background-color: var(--primary) !important;
  color: #fff !important;
}

.list-group-item.active-tab img {
  filter: brightness(0) invert(1); /* makes white icons */
}
.section-header {
    padding-left: 0.5rem;
    border-left: 3px solid var(--primary); /* Blue vertical line */
  }