<div class="sidebar p-3 vh-100 d-flex flex-column">
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a class="nav-link text-dark rounded" routerLink="/dashboard">
          <i class="bi bi-grid me-2"></i> Dashboard
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-dark d-flex align-items-center" routerLink="/flight-booking-table">
          <i class="bi bi-people me-2"></i> Bookings
        </a>
      </li>
      <li class="nav-item mt-auto">
        <a class="nav-link text-dark d-flex align-items-center">
          <i class="bi bi-box-arrow-right me-2"></i> Log out
        </a>
      </li>
    </ul>
  </div>  