<section id="travel-blogs" class="my-5">
    <div class="container my-4">
      <h6 class="my-2">Find out more insights</h6>
      <h1 class="my-2">Latest Blogs of Travel</h1>
    </div>
  
    <div class="container">
      <div class="row d-flex justify-content-between g-3">
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/blog-1.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <span class="sub-text">Holiday Planning</span>
              <span class="five-mins">5 mins read </span>
              <p class="card-text">
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
              </p>
              <a class="card-link">Read More</a>
              <span>
                <img src="assets/icons/chevron-right.png" alt="" />
              </span>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/blog-2.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <span class="sub-text">Holiday Planning</span>
              <span class="five-mins">5 mins read </span>
              <p class="card-text">
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
              </p>
              <a class="card-link">Read More</a>
              <span>
                <img src="assets/icons/chevron-right.png" alt="" />
              </span>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/blog-3.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <span class="sub-text">Holiday Planning</span>
              <span class="five-mins">5 mins read </span>
              <p class="card-text">
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
              </p>
              <a class="card-link">Read More</a>
              <span>
                <img src="assets/icons/chevron-right.png" alt="" />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>